.header{
    background-color: #131921;
    align-items: center;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 100;
}

.header__link{
    color: #ffffff;
    position: sticky;
}

.header__logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 15px;
    object-fit: contain;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__aboutText{
    font-size: 25px;
}


