.video__bg{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
}
.home__heading > h1{
    z-index: 1;
    color: #fff;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    align-content: center;
    margin-top: -440px;
}
.home__heading > p{
    z-index: 1;
    color: #fff;
    position: absolute;
    font-size: 20px;
    margin-top: -320px;
    margin-left: 60px;
}
.body{
    margin: 0px;
}
.contact{
    position: absolute;
    color: black;
    margin: 620px;
}
.button{
    position: absolute;
    border: none;
    height: 40px;
    width: 130px;
    margin-top: -250px;
    margin-left: 450px;
    border-radius: 10px;
}
.home__head>h1{
    position: absolute;
    margin-top: 100px;
    margin-left: 180px;
}
.first__line{
    position: absolute;
    margin-top: 170px;
    margin-left: 190px;
    font-size: 18px;
    color:gray;
}
.second__line{
    position: absolute;
    margin-top: 200px;
    margin-left: 230px;
    color: gray;
}
.Card{
    margin-left: 100px;
    position: relative;
    margin-top: 250px;
    display: flex;
    flex-direction: row;   
    box-shadow: "1px 3px 1px #9E9E9E";
}
.Card__one{
    margin: 30px;
}
.Card__two{
    margin: 30px;
}
.Card__three{
    margin: 30px;
}
.img__bg{
    width: 100%;
    height: 100vh;
}
.Consultancy > h1{
    position: relative;
    margin-top: -500px;
    color: black;
    margin-left: 60px;
}
.Consultancy > p{
  position: relative;
  color: white;
  margin-left: 20px;
}

.Analytics > h1{
    margin-top: 100px;
    color: black;
    margin-left: 20px;
}
.Analytics > p{
    position: relative;
    color: white;
    margin-left: 20px;
}
.Optimization > h1{
    position: relative;
    margin-top: -500px;
    margin-left: 900px;
}
.Optimization > p{
    margin-left: 850px;
    color: white;
}
.Credibility > h1{
    margin-left: 900px;
    margin-top: 80px;
}
.Credibility > p{
    margin-left: 850px;
    color: white;
}
.home__brand{
    margin-top: 150px;
}
.home__brand > h1{
    margin-left: 180px;
    position: absolute;

}
.Logo1{
    margin-top: 80px;
    position: absolute;
    margin-left: 200px;
    display: flex;
}
.Logo__amazon{
    position: absolute;
    width: 120px;
    height: 120px;
}
.Logo__phone{
    position: absolute;
    width: 150px;
    height: 120px;
    margin-left: 100px;
}
.Logo__indus{
    position: absolute;
    width: 150px;
    height: 120px;
    margin-left: 200px;
}
.Logo__ptm{
    position: absolute;
    width: 150px;
    height: 120px;
    margin-left: 300px;
}
.Logo2{
    position: absolute;
    display: flex;
    margin-top: 200px;
    margin-left: 200px;    
}
.Logo__hdfc{
    position: absolute;
    width: 150px;
    height: 120px;
}
.Logo__kotak{
    position: absolute;
    margin-left: 200px;
    width: 200px;
    height: 200px;
}
.Logo__incred{
    position: absolute;
    margin-left: 400px;
}
.Contact{
    margin-top: 350px;
    width: 100%;
    height: 50vh;
    background-color: #2b3340;
    position: absolute;
}
.Contact>h1{
    position: absolute;
    margin-top: 30px;
    margin-left: 400px;
    color: white;
}
.Contact__phoneicon{
    color: white;
    margin-top: 120px;
    margin-left: 200px;
    position: absolute;
}
.Contact__phone > p{
    position: absolute;
    color: white;
    margin-top: 120px;
    margin-left: 250px;
}
.Contact__emailicon{
    margin-top: 520px;
    color: white;    
    position: absolute;
    margin-left: 200px;
}
.Contact__email > p{
    position: absolute;
    margin-top: 520px;
    color: white;
    margin-left: 250px;
}
.Contact__locationicon{
    position: absolute;
    margin-top: 20px;
    color: white;
    margin-left: -50px;
}
.Contact__location{
    position: absolute;
    margin-top: 570px;
    color: white;
    margin-left: 250px;
}