.App__Aside{
    width: 50%;
    background-color: #1a1a1d;
    height: 100%;
    position: absolute;
    padding-left: 50%;
}
.App__Form{
    width: 50%;
    background-color: #950740;
    height: 100%;  
    position: absolute;
}
.PageSwitcher__Item {
    background-color: #707c8b;
    color: black;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}
.PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.PageSwitcher__Item--Active {
    background-color: #950740;
    color: #fff;
}
.PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.PageSwitcher{
    margin-left: 400px;
    margin-top: 30px;
}

.FormTitle__Link {
    color: #707c8b;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.ortag{
    color: #fff;
}
.FormTitle{
    margin-left: 30px;
    margin-top: 50px;
}
.FormTitle__Link--Active{
    color: #fff;
    border-bottom: 1px solid #c3037f;
}
.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
.label {
    cursor: default;
}
.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}
.FormField{
    margin-left: 30px;
    margin-top: 30px;
}
.FormField__Button{
    margin-top: 30px;
    margin-left: 30px;
    background-color: #950740;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
}